<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title> "Chance" kennel</title>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Chance Kennel</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="info.html">Our address</a></li>
                <li><a href="gallery.html">Our guests</a></li>
                <li><a href="form.html">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" >
    <div class="row mb5-5">
        <table border="5" cellpadding="top" cellspacing="50" >
            <tr>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>DateOfBirth</th>
                <th>Salary</th>
            </tr>
            <#list users as user>
                <tr>
                    <td> ${user.firstName}</td>
                    <td> ${user.lastName}</td>
                    <td>${user.age}</td>
                    <td>${user.birth}</td>
                    <td>${user.salary}</td>
                </tr>
            </#list>
        </table>
    </div>


    <div class="row mb5-5" >
        <form method="post" action="/users">
            <input type="text" name="actiontype" value="create" hidden>
            <input name="firstName"  type="text" class="form-control" placeholder="User's name" required>
            <input name="lastName"  type="text" class="form-control" placeholder="User's Last Name" required>
            <input name="age" value="Age" type="number" class="form-control" placeholder="User's age" required>
            <input name="birth" value="Birth" type="date" class="form-control" placeholder="User's dateOfBirth" required>
            <input name="salary" value="Salary" type="number" class="form-control" placeholder="User's salary" required>
            <input type="Submit" name=submit value="Submit" class="btn btn-primary btn-sm">
        </form>
    </div>

</div>

<div class="row mb5-5">
<form method="post" action="/users">
    <input type="text" name="actiontype" value="delete" hidden>
    <input name = "id" type="number" class="form-control" placeholder="User's id " required>
    <input type="Submit" name=delete value="Delete" class="btn btn-primary btn-sm">
</form>
</div>
</div>
</body>
</html>